@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Linefont:wdth,wght@25..200,4..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "android";
    src: url("../fontes/idroid.otf");
}

:root {
    --cor0: #173327;
    --cor1: #2f4b3f;
    --cor2: #2d756b;
    --cor3: #87a095;
    --cor4: #89caaf;
    --cor5: #7ef5c3;
    
    --font-padrão: arial, verdana, helvetica, sans-serif;
    --font-destaque: "babas neue", cursive;
    --font-android: "android", cursive;

}
* {
margin: 0px;
padding: 0px;
}
body {
    background-color: var(--cor4);
    font-family: var(--font-padrão);
}
a.externo::after {
    content: "\00a0\1F517";
}
p {
    margin: 15px 0px;
    text-align: justify;
}
header{
    background-color: var(--cor5);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to top, var(--cor5), var(--cor3));
   
    
}
header > h1 {
    font-family: var(--font-android);
   margin-bottom: 20px;
   font-size: 3em;
   text-shadow: -2px 3px 3px #39879bbb;
   font-weight: normal;
  
}
header > p {
    color: rgb(0, 0, 0);
    font-family: var(--font-destaque);
    font-size: 1.2em;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 20px;
    text-shadow: -2px 3px 3px #39879b73;
}
nav {
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 5px 20px black;
}
nav > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: 0.4s;
}
nav > a:hover {
    background-color: var(--cor5);
}
main {
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 12px 0px black;
    margin: auto;
    background-color: white;
} 
main p {
    text-align: justify;
    margin: 15px 0px;
    text-indent: 15px;
    line-height: 1.7em;
    font-size: 1em;
}
main strong {
    font-weight: bold;
    border-radius: 5px;
   
}
main a {
    text-decoration: none;
    background-color: var(--cor5);
    border-radius: 5px;
    font-weight: bold;
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor0);
}
article > h1 {
    background-image:linear-gradient( to right, var(--cor0), var(--cor4));
    font-family: var(--font-android);
    color: rgb(111, 224, 209);
    border-radius: 10px;
    padding: 5px;
    font-weight: normal;
}
article > h2 {
    font-family: var(--font-android);
    background-color: var(--cor0);
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-weight: normal;
    
}
div.video {
    background-color:  var(--cor2);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;

    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor4);
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px black;
}
aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00a0';
}
aside > h3 {
    background-color: var(--cor1);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: -10px -10px 0px -10px;
}

footer {
    background-color: var(--cor2);
    font-weight: 0.8em;
    padding: 5px;
}
footer > p {
    text-align: center;
}
footer  a {
    text-decoration: none;
    font-weight: bolder;
}
footer a:hover {
    color: var(--cor5);
    text-decoration: underline;
}
main  img {
   width: 100%;
} 
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

